.app.dark {
  background-color: #222;
  color: rgb(156, 156, 156);

  .view {
    background-color: #112538;
  }
  .create {
    background-color: #112538;

    input {
      color: #d1d0d0;
    }
  }
  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: #222;

    .tableCell {
      color: rgb(156, 156, 156);
    }
  }

  .sidebar {
    .top {
      border-color: #333;
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
      color: white;

      input {
        color: whitesmoke;
      }
    }
  }

  .sidebar {
    background-color: #222;
    color: #999;
    border-color: #333;

    .logo {
      color: gray;
    }

    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #999;
        }
      }
    }
  }

  .datatable {
    background-color: #112538;

    .datagrid {
      color: rgb(175, 175, 175);

      .viewButton {
        border-color: rgb(66, 66, 254);
        color: rgb(66, 66, 254);

        &:hover {
          color: white;
        }
      }
      .deleteButton {
        border-color: rgb(255, 91, 91);
        color: rgb(255, 91, 91);

        &:hover {
          color: white;
        }
      }
    }
  }

  input {
    background-color: transparent;
  }

  .ant-layout {
    .ant-layout-content {
      background-color: #112538;

      .dashboard {
        background-color: #112538;
        color: #94fcff;

        .title {
          color: #60f9ff;
        }
      }
    }

    .table {
      background-color: #112538;
      border: 1px solid #ffffff;
    }

    .ant-menu {
      .ant-menu-item-active {
        background-color: #112538;
      }

      .ant-menu-item-selected {
        background-color: #112538;
      }

      .ant-menu-title-content {
        color: #ffffff;
      }

      .ant-menu-item-icon {
        color: #94fcff;
      }
    }
  }

  .wrapper {
    .search {
      input {
        color: #94fcff;
      }

      input::placeholder {
        color: #94fcff;
      }

      .icon {
        color: #94fcff;
      }
    }

    .items {
      .item {
        .icon {
          color: #94fcff;
        }
      }
    }
  }

  .icon {
    color: #94fcff;
  }
}
