.create {
  display: flex;

  .createContainer {
    flex: 6;

    .top {
      border-radius: 20px;
      font-size: 22px;
      color: #888;
      font-weight: bold;
      margin: 20px;
      padding: 20px;
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    }

    .bottom {
      border-radius: 20px;
      padding: 20px;
      margin: 20px;
      display: flex;
      align-items: center;
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

      .left {
        flex: 1;
        text-align: center;

        img {
          height: 100px;
          width: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        flex: 2;
        padding: 10px;

        form {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          flex-wrap: wrap;
          justify-content: space-around;

          .formInputs {
            width: 80%;

            label {
              display: flex;
              align-items: center;
              font-size: 14px;
              color: #888;
              gap: 10px;
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              outline: none;
              border-bottom: 1px solid #000;
            }
          }

          button {
            font-weight: 500;
            font-size: 16px;
            width: 140px;
            border: none;
            padding: 10px;
            background-color: rgb(13, 123, 123);
            color: whitesmoke;
            cursor: pointer;

            &:hover {
              background-color: rgb(34, 195, 195);
            }
          }
        }
      }
    }
  }
}
