.main {
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
    background-color: #233142;
    color: #e3e3e3;
    border-left: 1px solid #455d7a;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .search {
        align-items: center;
        height: 35px;
        display: flex;
        margin-left: 5px;
        margin-top: 5px;
        background-color: rgba(199, 197, 197, 0.597);
        border-radius: 5px;
        padding: 5px 10px;

        input {
          border: none;
          outline: none;
          background-color: transparent;
        }

        .icon {
          font-size: 20px;
          cursor: pointer;
          color: rgb(96, 96, 96);

          &:hover {
            color: rgb(122, 6, 130);
          }
        }
      }

      .items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 5px;
          position: relative;

          span {
            font-size: 14px;
          }

          .icon {
            color: #f95959;
            cursor: pointer;
            font-size: 20px;

            &:hover {
              color: #d83a3a;
            }
          }

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 5px;
          }

          .counter {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 12px;
            height: 12px;
            color: white;
            font-size: 12px;
            top: -5px;
            right: -5px;
            background-color: red;
            border-radius: 50%;
            padding: 8px;
            position: absolute;
          }

          .userInfo {
            justify-content: center;
            display: flex;
            text-align: left;
            flex-direction: column;
            height: 62px;
            margin: 0;
            padding: 0;
            color: #94fcff;

            h4 {
              margin: 0;
              height: 20px;
            }

            p {
              margin: 0;
              height: 20px;
              margin-bottom: 40px;
            }
          }
        }
      }
    }
  }

  .content {
    width: 100%;
    padding: 20px 20px;

    main {
      background-color: white;
      overflow-y: scroll;
    }
  }

  .ant-layout {
    min-height: 100vh;
  }

  .ant-layout-sider {
    flex: 0 0 250px !important;
    max-width: 250px !important;
    min-width: 250px !important;
    width: 250px !important;
  }

  .ant-layout-sider-collapsed {
    flex: 0 0 80px !important;
    max-width: 80px !important;
    min-width: 80px !important;
    width: 80px !important;

    .sm-logo {
      display: block;
      transition: 0.3s;
    }

    .lg-logo {
      display: none;
    }
  }

  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    transition: 0.3s;
    font-size: 1rem;
    color: #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 62px;
    background: #233142;
  }

  .sm-logo {
    display: none;
  }

  .side-menu {
    background-color: #455d7a;

    .menu {
      background-color: transparent;
      color: #e3e3e3;

      .ant-menu-item {
        padding: 1px 23px;
      }

      .ant-menu-item-icon {
        font-size: 24px;
        margin-top: 4px;
      }

      .ant-menu-title-content {
        font-weight: 400;
        font-size: 16px;
      }

      .ant-menu-item:hover {
        color: #1890ff;
      }
    }
  }
}
